{% extends 'magasin/base.html' %}
{% block title %} 
{{produit.libelle}} 
{% endblock %}

{% block content %}


<div class="card" style="width: 400px;margin: 10px; margin-left: 550px;" >
    <div class="card-body">
       <h5 class="card-title">{{produit.libelle}}</h5>
       <hr class="dropdown-divider">
       <img src="/media/{{produit.img}}"style="width: 350px; height: 300px;">
       <hr class="dropdown-divider">
       <p class="card-text">Description: <b>{{produit.description}}</b></p>
       <p class="card-text">Prix: {{produit.prix}}</p>
       <p class="card-text">Categorie: <b>{{produit.categorie}}</b></p>

       <a href="{% url 'Catalogue' %}" class="btn btn-secondary">Retour au Catalogue</a>
    </div>
</div>

{% endblock %}
